﻿body {
    font-family: Helvetica, Arial, sans-serif;
    font-size:medium;
}

input[type=submit] {
    background-color: gray;
    text-shadow: none !important;
    padding: 12px 20px;
    border: none !important;
    color: white;
    box-shadow: none !important;
}


}
input[type=submit]:hover {
    background-color: lightgray;
    color: white;
}

.push {
    margin-left: 10px;
}

.center {
    margin: auto;
    width: 60%;
}

input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    padding: 10px 20px;
    margin: 10px 0;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=text]:focus {
    width: 60%;
}

.facets {
    margin-top: 70px;
    padding: 10px;
    float: left;
    width: 20%;
    min-width: 100px;
    min-height: 200px;
    color: black;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover {
        background-color: #555;
        color: white;
}

#selected {
    background-color: #555;
    color: white !important;
    font-weight: bold;
}

.searchResults {
    padding: 10px;
    width: 70%;
    min-width: 200px;
    float: right;
}

.title {
    font-weight: bold;
    text-decoration: underline;
}

.description {
    color: darkslategray;
    text-align: justify;
    border: none;
}

p {
    margin: 0;
}

.source {
    color: gray;
    font-style: italic;
    text-align: justify;
    font-size: small;
}

.url {
    color: cornflowerblue;
    text-decoration: underline;
    font-size: small;
}

.urls {
    color: cornflowerblue;
    text-decoration: none;
}

a:link {
    color: darkorange;
    text-decoration: none;
}

a:visited {
    color: darkorange;
    text-decoration: none;
}

a:hover {
    color: orangered;
}

a:active {
    color: blue;
}

.pagination {
    text-align: right;
    padding: 10px;
}