﻿@using ClinicalCareOptions.inPractice.Search.Helpers

@{
    ViewBag.Title = "inPractice Solr Search POC";
}

@{ string search = Model.Params.Search != null ? Model.Params.Search : "*:*"; }
@{ int pageNum = Model.Params.PageNum; }
@{ string collection = Model.Params.Collection.ToString(); }


<!DOCTYPE html>
<html>
<head>
    <title>inPractice POC</title>
    <link rel="stylesheet" type="text/css" href="~/Content/search.css">
</head>
<body>

    <div class="facets">
        <ul>
            @if (collection.Equals("hepatology", StringComparison.InvariantCultureIgnoreCase))
            {
                <text>
                    <li id="selected">
                </text>
            }
            else
            {
                <text>
                <li>
                </text>
            }

            <a href="?collection=Hepatology&search=@search">Hepatology</a>
        </li>
        @if (collection.Equals("rheumatology", StringComparison.InvariantCultureIgnoreCase))
        {
            <text>
                <li id="selected">
            </text>
        }
        else
        {
            <text>
            <li>
            </text>
        }

        <a href="?collection=Rheumatology&search=@search">Rheumatology</a>
    </li>

    @if (collection.Equals("drugs", StringComparison.InvariantCultureIgnoreCase))
    {
        <text>
            <li id="selected">
        </text>
    }
    else
    {
        <text>
        <li>
        </text>
    }
    <a href="?collection=Drugs&search=@search">Drugs</a>
</li>
@if (collection.Equals("guidelines", StringComparison.InvariantCultureIgnoreCase))
{
    <text>
        <li id="selected">
    </text>
}
else
{
    <text>
    <li>
    </text>
}
<a href="?collection=guidelines&search=@search">Guidelines</a>
</li>
@if (collection.Equals("oncology", StringComparison.InvariantCultureIgnoreCase))
            {
    <text>
        <li id="selected">
    </text>
}
else
{
    <text>
    <li>
    </text>
}
<a href="?collection=oncology&search=@search">Oncology</a>
</li>
@if (collection.Equals("oncologyNursing", StringComparison.InvariantCultureIgnoreCase))
{
    <text>
        <li id="selected">
    </text>
}
else
{
    <text>
    <li>
    </text>
}
<a href="?collection=oncologynursing&search=@search">Oncology Nursing</a>
</li>
@if (collection.Equals("hiv", StringComparison.InvariantCultureIgnoreCase))
{
    <text>
        <li id="selected">
    </text>
}
else
{
    <text>
    <li>
    </text>
}
<a href="?collection=hiv&search=@search">HIV</a>
</li>

</ul>
</div>

<div class="searchResults">
    <form method="get" action="@Url.Action("Index")">
        @Html.TextBox("search", search)
        <input type="submit" value="Search" placeholder="Search.." />
        <input type="hidden" name="collection" value="@collection" />

        <br />
        @if (!string.IsNullOrEmpty(Model.DidYouMean))
        {



            <strong><em><a href="@UrlHelperExtensions.ForQuery(new UrlHelper(), Model.DidYouMean)">@Model.DidYouMean</a></em></strong>
        }
        @if (Model.Error)
            {
            <span class="error">Invalid query</span>
        }
    </form>
    <br />
    <div>
        @Model.Count
        results were found.
    </div>
    <div class="pagination">
        @if (@Model.Pagination.HasPrevPage)
        {
            <text><a href="?&collection=@collection&search=@search&pageNum=@(pageNum - 1)">&lt;Prev</a> </text>
        }
        Page
        @pageNum
        out of @Model.Pagination.LastPage
        @if (@Model.Pagination.HasNextPage)
            {
            <text><a href="?&collection=@collection&search=@search&pageNum=@(pageNum + 1)">Next&gt;</a></text>
        }
    </div>


    <div>
        @foreach (var document in Model.Documents)
        {
            <div class="results">
                @if (!collection.Equals("drugs", StringComparison.InvariantCultureIgnoreCase))
                {
                    <div class="title"><a href="@document.FormattedUrl()">@document.FormattedTitle()</a></div>
                }
                else
                {
                    <div class="title"><a href="@document.Id">@document.FormattedTitle()</a></div>
                }

                @if (!String.IsNullOrEmpty(document.FormattedSummary()))
                {
                    <div class="desc">@Html.Raw(document.FormattedSummary())</div>
                }
                @if (!String.IsNullOrEmpty(document.SearchSource))
                {
                    <div class="source">Source: @Html.Raw(document.SearchSource)</div>
                }
                @if (!String.IsNullOrEmpty(document.FormattedUrl()) && !collection.Equals("drugs", StringComparison.InvariantCultureIgnoreCase))
                {
                    <div class="url"><a href="@document.FormattedUrl()">@document.FormattedUrl()</a></div>
                }
                else
                {
                    if (!String.IsNullOrEmpty(document.FormattedUrl()))
                    {
                        string[] parts = document.FormattedUrl().Split('|');
                        <div class="urls">
                            <text> | </text>
                            @foreach (string part in parts)
                        {
                            string[] subParts = part.Split(',');
                            if (subParts.Length > 1)
                            {
                                    <a href="@document.Id#@subParts[1]">@subParts[0]</a>
                                    <text> | </text>
                                }
                            }
                        </div>
                    }
                    else
                    {
                        <div class="url"><a href="@document.Id">@document.Id</a></div>
                    }
                    <br />

                }


                <br />



            </div>

        }

        <div class="pagination">
            @if (@Model.Pagination.HasPrevPage)
            {
                <text><a href="?&collection=@collection&search=@search&pageNum=@(pageNum - 1)">&lt;Prev</a> </text>
            }
            Page
            @pageNum
            out of @Model.Pagination.LastPage
            @if (@Model.Pagination.HasNextPage)
            {
                <text><a href="?&collection=@collection&search=@search&pageNum=@(pageNum + 1)">Next&gt;</a></text>
            }
        </div>
    </div>

</body>
</html>
